<script id="check-if-logged-in" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<div class="votecries">
  <div class="votecrycontainer">
    <div class="votecry" id="yas">YAAAS!!!</div>
    <div class="votecry" id="boo">BOOOO!!!</div>
    <div class="votecry" id="nvm">NVM</div>
  </div>
</div>
<main id="root">This is the root.</root>
