<script id="check-if-logged-in" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
</script>
<div class="votecries">
  <div class="votecry yas">YAAAS!!!</div>
  <div class="votecry boo">BOOOO!!!</div>
  <div class="votecry nvm">NVM</div>
</div>
<main id="root">This is the root.</root>
