$blue: #AEA5A0;
$pinkish: #CFBEA4;
$white: #FFFFFF;
$brown: #79684E;
$black: #000000;
$trollpink: #fc3cdf;

$darkerblue: #7c706a;
$cream: #FFFFE6;
$hotpink: #E80C7A;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 	display: block;
}
body {
 	line-height: 1;
}
ol, ul {
 	list-style: none;
}
blockquote, q {
 	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 	content: '';
 	content: none;
}
table {
 	border-collapse: collapse;
	border-spacing: 0;
}


html{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
}

p {
  font-weight: normal;
  font-size: 12px;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: $blue;
  text-decoration: none;
}


button {

}

button:hover {

}

body {
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH BOX --- */

.authbox {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login{
  width: 450px;
  border: 1px solid $blue;
  padding: 65px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473136165/pepe2_m6b1f4.jpg");
  background-size: cover;
}

.signup{
  width: 450px;
  border: 1px solid $blue;
  padding: 65px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473107969/zxry8med4wlssiw2xhtz.jpg");
  background-size: cover;
}

.authdemand{
  padding-top: 25px;
  padding-bottom: 50px;
}

.whisper a{
  color: yellow;
}

.authinput{
  margin-top: 10px;
  text-align: center;
}

.submitbutton{
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;
  width: 95px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  background-color: $brown;
  transition: all 0.5s ease;
  box-sizing: border-box;
  border-bottom: 5px solid $brown;
}

.submitbutton:hover{
  background: $cream;
  border-bottom: 5px solid $hotpink;
}

.errors{
  height: 32px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


/* --- HEADER --- */

.topbar{
  display: flex;
  background: $brown;
  margin-bottom: 25px;
}

.widthcontainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 64px;
  height: 64px;
}

#logoimage{
  width: 54px;
  height: 54px;
  background: $cream;
  border-radius: 50px;
}

.tagbuttons{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
}

.authbuttons{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
}

.authbuttons .greet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.authbuttons .greet .name {
  color: yellow;
  padding-left: 6px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.authbutton{
}

.topbutton{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 64px;
  background-color: $brown;
  width: 95px;
  transition: all 0.5s ease;
  box-sizing: border-box;
  border-bottom: 5px solid $brown;
}

.topbutton:hover{
  background: $cream;
  border-bottom: 5px solid $hotpink;
}

.logoutbutton {
  margin-left: 10px;
}

.troll {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  padding: 10px;
  text-decoration: none;
}

.troll:hover {
  background: $trollpink;
  text-decoration: none;
}


/* --- MEMES INDEX AND MEME ITEM --- */

.memeindex {
  width: 60%;
  margin: 0 auto;
}

.memebox {
  margin: 0 0 25px 0;
  border: 1px solid $pinkish;
  display: block;
  background-color: $cream;
}

.memeTitle {
  padding: 20px 10px 20px 10px;
  font-weight: 900;
  font-size: 32px;
  color: black;
}

.titlepic a img {
  width: 100%
}

.memebottominfo{
  padding: 10px 15px 5px 15px;
}

.tagsattribution {
  font-size: 12px;
  display: flex;
  color: $darkerblue;
  justify-content: space-between;
}

.tagsattribution a {
  color: $darkerblue;
}
.tagsattribution a:hover {
  color: $blue;
}

.voteauthorcomment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.upvotebutton {
  width: 25px;
  height: 25px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473180830/upvote_cjsp5u.png");
  background-size: contain;
  transition: all 0.15s linear;
}

.downvotebutton{
  width: 25px;
  height: 25px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473180830/downvote_jjheqq.png");
  background-size: contain;
  transition: all 0.15s linear;
}

.upvotebutton:hover {
  opacity: .60;
}

.downvotebutton:hover {
  opacity: .60;
}

.votecount {
  padding: 15px;
}

/* --- MEME SHOW --- */

.memeshow {
  width: 80%;
  margin: 0 auto;
}

.memeshow .memebox {
  // background-color: transparent;
  // border: none;
}

/* --- COMMENTS --- */

.commentbox {
  padding: 15px;
  border: 1px solid $pinkish;
  margin-bottom: 50px;
  background-color: $cream;
}

.addcommentbox {
  margin: 10px 0 25px 0;
}

.addcommentbox p {
  font-size: 20px;
  margin-bottom: 5px;
}

.addcommentbox textarea {
  width: 99%;
  margin-bottom: 5px;
}

.addcommentbutton {
}

.commentbodies {
}

.commentbodies p {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.commentbodies ul {
}

.commentArea {
  padding: 15px 15px 12px 15px;
  background-color: white;
  border: 1px solid $pinkish;
  margin-bottom: 10px;
}

.oneComment {
  display: block
}

.commentUser{
  font-weight: bolder;
  margin-bottom: 4px;
}

.commentDate{
  font-size: 12px;
  color: $blue;
  margin-bottom: 6px;
}

.commentBody{

}

/* --- UPLOAD FORM --- */

.uploadcontainer{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  text-align: center;
  font-size: 24px;
  padding: 0px 100px 100px 100px;
  width: 80%;
}

.uploadcontainer img {
  max-width: 75%;
  height: auto;
}

.uploadbox {
  margin: 30px;
  padding: 25px;
  color: black;
  border: 1px solid $pinkish;
}

.uploadbox input {
  width: 250px;
}

/* --- EXTRAS --- */

.votecries {
  display: none;
  position: fixed;
  margin: 0 auto;
  top: 40%;
  left: 50%;
}

.votecry {
  font-size: 48;
}
