$blue: #AEA5A0;
$pinkish: #CFBEA4;
$white: #FFFFFF;
$black: #000000;
$trollpink: #fc3cdf;
// original
// $brown: #79684E;
// $cream: #FFFFE6;
// $wheat: #f9e2bc;

// test1
// $brown: #A6661B;
// $cream: #242C15;
// $wheat: #F3D3AD;

// test2
// $brown: #331832;
// $cream: #F0544F;
// $wheat: #C6D8D3;

// test3
$brown: #FF3321;
$cream: white;
$wheat: #FFFFE6;

// test4
// $brown: #A6661B;
// $cream: #242C15;
// $wheat: #F3D3AD;

$hotpink: #E80C7A;
$darkerblue: #7c706a;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 	display: block;
}
body {
 	line-height: 1;
}
ol, ul {
 	list-style: none;
}
blockquote, q {
 	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 	content: '';
 	content: none;
}
table {
 	border-collapse: collapse;
	border-spacing: 0;
}

html{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
}

p {
  font-weight: normal;
  font-size: 12px;
}

a {
  color: black;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover {
  color: $blue;
  text-decoration: none;
}

body {
  background-color: $wheat;
}

input {
  height: 20px;
}

.App {
  height: 100%;
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH BOX --- */

.authbox {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login{
  width: 450px;
  border: 1px solid $blue;
  padding: 40px 40px 35px 40px;
  margin-top: 40px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473136165/pepe2_m6b1f4.jpg");
  background-size: cover;
}

.signup{
  width: 450px;
  border: 1px solid $blue;
  margin-top: 40px;
  padding: 40px 40px 35px 40px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473107969/zxry8med4wlssiw2xhtz.jpg");
  background-size: cover;
}

.authdemand{
  padding-top: 25px;
  padding-bottom: 50px;
}

.whisper a{
  color: yellow;
}

.authinput{
  margin-top: 10px;
  text-align: center;
}

.submitbutton{
  margin-top: 25px;
  padding-top: 5px;
  text-align: center;
  width: 95px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  background-color: $brown;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.submitbutton:hover{
  background: $blue;
}

.errors{
  height: 32px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


/* --- HEADER --- */

.topbar{
  display: flex;
  background: $brown;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.widthcontainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 64px;
  height: 64px;
}

#logoimage{
  width: 54px;
  height: 54px;
  background: $cream;
  border-radius: 50px;
}

.tagbuttons{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-start;
}

.tagbuttons a{
  height: 100%;
}

.authbuttons{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
}
.authbuttons a{
  height: 100%;
}


.authbuttons .greet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 16px;
}

.authbuttons .greet .name a {
  color: yellow;
  padding-left: 6px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: all 0.5s ease;
}

.authbuttons .greet .name a:hover {
  color: $cream;
}

.topbutton{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  background-color: $brown;
  width: 86px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbutton:hover{
  background: $wheat;
}

.logoutbutton {
  margin-left: 10px;
}

.troll {
  font-size: 16px;
  font-weight: bold;
  color: yellow;
  text-decoration: none;
}

.troll:hover {
  background: $trollpink;
  text-decoration: none;
}


/* --- MEMES INDEX AND MEME ITEM --- */

.memeindex {
  width: 50%;
  margin: 0 auto;
}

.memebox {
  margin: 0 0 25px 0;
  border: 1px solid $pinkish;
  display: block;
  background-color: $cream;
}

.memeTitle {
  padding: 20px;
  font-weight: 900;
  font-size: 32px;
  color: black;
}

.titlepic a img {
  width: 100%
}

.memebottominfo{
  padding: 10px 15px 5px 15px;
}

.tagsattribution {
  font-size: 12px;
  display: flex;
  color: $darkerblue;
  justify-content: space-between;
}

.tagsattribution a {
  color: $darkerblue;
}
.tagsattribution a:hover {
  color: $blue;
}

.voteauthorcomment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.votebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.upvotebutton {
  width: 25px;
  height: 25px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473180830/upvote_cjsp5u.png");
  background-size: contain;
  transition: all 0.15s linear;
  cursor: pointer;
  box-sizing: border-box;
}

.downvotebutton{
  width: 25px;
  height: 25px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473180830/downvote_jjheqq.png");
  background-size: contain;
  transition: all 0.15s linear;
  cursor: pointer;
  box-sizing: border-box;
}

.upvotebutton:hover {
  opacity: .60;
}

.downvotebutton:hover {
  opacity: .60;
}

.votecount {
  padding: 15px;
}

.voteauthorcomment .memeUsername a{
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.voteauthorcomment .memeUsername a:hover{
  color: $blue;
}

.upnav {
  display: flex;
  width: 90px;
  height: 90px;
  justify-content: center;
  align-items: center;
  opacity: .2;
  font-size: 56px;
  color: white;
  background-color: $darkerblue;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.upnav:hover {
  opacity: .8;
}

#upcaret {
  width: 60px;
  height: 60px;
}

/* --- MEME SHOW --- */

.memeshow {
  width: 65%;
  margin: 0 auto;
}

.memeshow .memebox {
  // background-color: transparent;
  // border: none;
}

/* --- COMMENTS --- */

.commentbox {
  padding: 15px;
  border: 1px solid $pinkish;
  margin-bottom: 50px;
  background-color: $cream;
}

.addcommentbox {
  margin: 10px 0 25px 0;
}

.addcommentbox p {
  font-size: 20px;
  margin-bottom: 5px;
}

.addcommentbox textarea {
  width: 99%;
  margin-bottom: 5px;
}

.addcommentbutton {
}

.commentbodies {
}

.commentbodies p {
  font-size: 20px;
  margin: 0 0 10px 0;
}

.commentbodies ul {
}

.commentArea {
  padding: 15px 15px 12px 15px;
  background-color: white;
  border: 1px solid $pinkish;
  margin-bottom: 10px;
}

.oneComment {
  display: flex;
  justify-content: space-around;
}

.commentimage{
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.commentimage img {
  width: 50px;
}

.smolbox {
  width: 90%;
}

.commentUser{
  font-weight: bolder;
  margin-bottom: 4px;
}

.commentDate{
  font-size: 10px;
  color: $blue;
  margin-bottom: 6px;
}

.commentBody{
  font-size: 14px;
}

/* --- UPLOAD FORM --- */

.uploadcontainer{
  display: flex;
  justify-content: center;
  margin-top: 65px;
  text-align: center;
  font-size: 24px;
  padding: 0px 100px 100px 100px;
  width: 80%;
}

.uploadcontainer .centerme {
  margin: 150px auto;
}

.uploadcontainer .uploadimage {
  max-width: 75%;
}

.uploadcontainer .uploadimage img {
  max-width: 100%;
}

.uploadbox {
  margin: 30px;
  padding: 25px;
  color: black;
  background: $cream;
  border: 1px solid $pinkish;
}

.uploadbox input {
  width: 250px;
}


/* --- USER SHOW --- */

.userTitleInfo {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  max-width: 450px;
  border: 1px solid $pinkish;
  background-color: $cream;
}

.usertitle {
  padding: 15px 15px 5px 15px;
  font-size: 24px;
}

.userimage {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin: 12px;
}

.userimage img {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $pinkish;
}

.username {
  position: relative;
  padding: 20px;
  font-size: 48px;
  font-weight: bolder;
}

.username img {
  position: absolute;
  height: 52px;
  width: 52px;
  top: -10px;
  left: 3px;
}

.tumblritename img {
  height: 170px;
  width: 170px;
  top: -61px;
  left: -61px;
}

.redditnoobname img{
  width: 125px;
  height: 125px;
  top: -50px;
  left: -40px;
}

.memelordname img{
  left: -6px;
  top: -10px;
}

.tellkarma {
  border-top: 1px solid $pinkish;
  padding: 15px;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
}

.karma {
  padding: 5px;
  font-size: 24px;
}

.subkarmas {
  font-size: 10px;
  color: $darkerblue;
}

.userMemeContainer {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

.myMemestitle {
  margin: 0 auto;
  text-align: center;
  width: 60%;
  padding: 15px 0 30px 0;
  font-size: 30px;
}

.memeUL{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
}

.memeUL li{
  width: 31%;
  height: 100%;
}

.memeUL li .memeTitle {
  padding: 15px;
}

.memeUL li .memeTitle a{
  font-size: 22px;
}

.memeUL li .memebottominfo{
  font-size: 12px;
}


.uploadclick {
  position: absolute;
  background-color: $white;
  color: $darkerblue;
  font-weight: bolder;
  height: 20px;
  width: 20px;
  opacity: .3;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}

.uploadclick:hover{
  opacity: .8;
}

/* --- EXTRAS --- */

.votecries {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  visibility: hidden;
}

.votecrycontainer{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 50px;
  text-align: center;
}

.votecry {
  width: 270px;
  height: 50px;
  font-size: 48px;
  position: absolute;
  color: yellow;
}

.hidden {
  visibility: hidden;
}

.visible{
  visibility: visible;
}

#yas{
  text-shadow: 2px 2px 50px rgba(255,0,0,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#boo{
  text-shadow: 2px 2px 50px rgba(255,0,0,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nvm{
  text-shadow: 2px 2px 50px rgba(255,0,0,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* --- SPLASH --- */
.splashcontainercontainer {
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #f2f2f2;
}

#splashphotos {
  width: 100%;
  max-width: 1000px;
}

.splashcontainercontainer a:hover {
  color: $darkerblue;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#splashtext {
  top: 325px;
  height: 200px;
  font-size: 64px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#splashtext .mini {
  font-size: 24px;
}

#splashtext li {
  text-shadow: -2px 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#splash ul {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

#splash ul li {
  height: 273px;
  width: 273px;
  border-radius: 300px;
  z-index: -1;
}

#splash1{
  background-image: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1502322916/bssdnf3g1lmakzlolvnu.jpg");
  background-size: cover;
}

#splash2{
  background-position: 0px -85px;
  background-image: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1502324671/shmjwfvv3mxk91y7omsp.jpg");
  background-size: cover;
}

#splash3{
  background-image: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1502321524/a4h4ilynzbpmsdebxals.jpg");
  background-size: cover;
}
