$blue: #AEA5A0;
$brown: #79684E;
$cream: #FFFFE6;
$pinkish: #CFBEA4;
$white: #FFFFFF;
$hotpink: #E80C7A;

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
}
 /* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
 	display: block;
}
body {
 	line-height: 1;
}
ol, ul {
 	list-style: none;
}
blockquote, q {
 	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 	content: '';
 	content: none;
}
table {
 	border-collapse: collapse;
	border-spacing: 0;
}


html{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-weight: bold;
  font-size: 32px;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
}

p {
  font-weight: normal;
  font-size: 12px;
}

a {
  color: yellow;
  text-decoration: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {

}

body {
  background-color: $pinkish;
}

/* --- CLEARFIX --- */
.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- AUTH BOX --- */

.authbox {
  display: flex;
  justify-content: center;
  margin-top: 65px;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login{
  width: 450px;
  border: 1px solid black;
  padding: 65px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473136165/pepe2_m6b1f4.jpg");
  background-size: cover;
}

.signup{
  width: 450px;
  border: 1px solid black;
  padding: 65px;
  background: url("http://res.cloudinary.com/dujcpxlhk/image/upload/v1473107969/zxry8med4wlssiw2xhtz.jpg");
  background-size: cover;
}

.authdemand{
  padding-top: 25px;
  padding-bottom: 50px;
}

.whisper{
}

.authinput{
  margin-top: 10px;
  text-align: center;
}

.submitbutton{
  margin-top: 15px;
}

.errors{
  height: 32px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.submitbutton{

}

/* --- HEADER --- */

.topbar{
  display: flex;
  background: $brown;
}

.widthcontainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 64px;
  height: 64px;
}

#logoimage{
  width: 54px;
  height: 54px;
  background: $cream;
  border-radius: 50px;
}

.tagbuttons{
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-start;
}

.authbuttons{
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: flex-end;
}

.authbutton{
}

.topbutton{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 64px;
  background-color: $brown;
  width: 100px;
  transition: all 0.5s ease;
  box-sizing: border-box;
  border-bottom: 5px solid $brown;
}

.topbutton:hover{
  background: $cream;
  border-bottom: 5px solid $hotpink;
}

.logoutbutton {
  margin-left: 10px;
}

.troll {
  font-size: 16px;
  font-weight: bold;
  // background-image: -webkit-linear-gradient(top, #3cd934, #b82ba3);
  // background-image: -moz-linear-gradient(top, #3cd934, #b82ba3);
  // background-image: -ms-linear-gradient(top, #3cd934, #b82ba3);
  // background-image: -o-linear-gradient(top, #3cd934, #b82ba3);
  // background-image: linear-gradient(to bottom, #3cd934, #b82ba3);
  color: yellow;
  padding: 10px;
  text-decoration: none;
}

.troll:hover {
  background: #fc3cdf;
  // background-image: -webkit-linear-gradient(top, #b82ba3, #3cd934);
  // background-image: -moz-linear-gradient(top, #b82ba3, #3cd934);
  // background-image: -ms-linear-gradient(top, #b82ba3, #3cd934);
  // background-image: -o-linear-gradient(top, #b82ba3, #3cd934);
  // background-image: linear-gradient(to bottom, #b82ba3, #3cd934);
  text-decoration: none;
}


/* --- MEMES --- */

.memeindex {
  width: 60%;
  margin: 0 auto;
}

.memebox {
  display: block;
  background-color: $cream;
}

.memeTitle {
  padding: 20px 0 20px 0;
  font-weight: 900;
  font-size: 32px;
  color: black;
}

.titlepic a img {
  width: 100%
}

.tagsattribution {
  display: flex;
  justify-content: space-between;
}

.voteauthorcomment {
  display: flex;
  justify-content: space-between;
}

.votebox {
  display: flex;
}
